{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Oceania
</h1>
<h2 class="subtitle">
  Oceania is a web app designed to teach people about the ocean. Oceania has two ways of teaching users ocean 
  information - one way is by displaying articles based on a user's date of birth and another is by taking a quiz.
  Oceania will allow users to enter their data of birth and will return information about any
  historical events pertaining to the ocean that happened on their date of birth.
  This will teach users about the ocean in an engaging and fun way.
</h2>
{% endblock %}