{% extends 'base.html' %}

{% block head %}
<title>Quiz</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Quiz</h1>
</div>

<div class="body">
    I like to listen to all kinds of music. In particular I like to listen to hip hop and afrobeats. I also like to listen to bashments and RnB.
    My favourite artists is Lil Wayne, Kendrick Lamar, Ard Adz and Asake. I like listen to music from the 80s and 90s like Bon Jovi, Whitney Houston and Michael Jackson.#
    My top 3 songs of 2023 were Asake Joha, Lil Wayne Mahogany and Bnxn best of me.
</div>
<br>
<br>
{% endblock %}